<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MIT MAGMA</title>
    <link href="static/vendor/bootstrap/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>MAGMA <small>Minimally Automated Geospatial Metadata Author</small></h1>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
              {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <label for="dataFile" class="col-md-2 control-label">Data file (Shapefile or GeoTIFF)</label>
                <div class="col-md-5">
                    <input type="file" name="data" id="dataFile"/>
                </div>
            </div>
            <div class="form-group">
                <label for="metadataFile" class="col-md-2 control-label">FGDC</label>
                <div class="col-md-5">
                    <input type="file" name="metadata" id="metadataFile"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Access level <span class="text-danger">*</span></label>
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="access" id="access1" value="public" checked> Public
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="access" id="access2" value="restricted"> Restricted
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <span class="text-danger">*<small><em> Required field   </em></small></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <script src="static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
    $( "form" ).submit(function( event ) {
      $(".alert").remove();
    });
    </script>
</body>
</html>
